[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/script39_ru_usr/data/www/script39.ru
ExecStart=/var/www/script39_ru_usr/data/www/script39.ru/venv/bin/gunicorn --workers 5 --bind unix:/run/gunicorn.sock myproject.wsgi:application

[Install]
WantedBy=multi-user.target
