.bg-green{
    background-color:#01fe6d;
  }
.text-green{
  color:#01fe6d;
}

.text-gray-700{
  color:white;
}
 /* Media Query for low resolution  Tablets, Ipads */
 @media (max-width: 481px) {
 

}
 @media (min-width: 481px) and (max-width: 767px) {
  
 
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
 
 
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
 
  
  section{
    padding: 0 10%;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
 
 
  section{
    padding: 0 10%;
  }
}
.carousel-container {
  overflow: hidden;
}
.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
       
}
.carousel-slide {
  flex: 0 0 100%; /* Adjust this value based on the number of slides */
  position: relative;
}
.carousel-arrow {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}
.carousel-arrow-left {
  left: 1rem;
}
.carousel-arrow-right {
  right: 1rem;
}