<!doctype html>
<html lang="en">

<head>
  <title>SCRIPT</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static '' %}"></script>


  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>

<body>
  <header>
    
    <nav class="bg-black shadow-lg">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <a href="#" class="text-white text-2xl font-bold"><img style="height:100px;padding:10px;" src="{% static 'label.png' %}" alt="My image"></a>
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <a href="#" class="px-3 py-2 rounded-md text-sm font-medium text-white hover:bg-green-500">Home</a>
              <a href="#" class="px-3 py-2 rounded-md text-sm font-medium text-white hover:bg-green-500">About</a>
              <a href="#" class="px-3 py-2 rounded-md text-sm font-medium text-white hover:bg-green-500">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    
    
    
    

    
  </header>
  <main>
{% block content%}
{% endblock %}
  </main>
  <footer>
    <!-- place footer here -->
  </footer>

</body>

</html>