<!doctype html>
<html lang="ru" prefix="og: http://ogp.me/ns#">

<head>
  <title>SCRIPT - компьютерные курсы в Калининграде</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static '' %}"></script>
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
  <link rel="canonical" href="https://script39.ru/"/>
  <meta name="description" content="Компьютерные курсы в Калининграде, программирование в Калининграде, разработка приложений, создание игр, 3D моделирование">
  <meta name="keywords" content="программирование, курсы, HTML, CSS, JavaScript, Python, Калининград, Unity, Scratch, Робототехника, Arduino, Blender, 3D">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="Школа программирования и робототехники <SCRIPT>"/>
  <meta property="og:url" content="https://script39.ru/" />  <meta property="og:type" content="article" />
  <meta property="og:image" content="{% static 'img/header.png' %}"/>
  <meta property="og:description" content="Компьютерные курсы в Калининграде"/>
  <meta property="og:site_name" content="SCRIPT"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.1/tailwind.min.css" integrity="sha512-qndFVypspQwONL8icZ0/H1r12dX7NBKj05cG3lF93zQ2x/bPlLHzowhKpZ8+xvZsR9zm7VUajg6yW7VbSy+6jw==" crossorigin="anonymous" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

  <link href="https://cdn.tailwindcss.com" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" />
  <script src="https://cdn.tailwindcss.com"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();
  for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(94948902, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true,
       webvisor:true,
       ecommerce:"dataLayer"
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/94948902" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<meta name="yandex-verification" content="221e2f2d486a599f" />
  <script type="module">
    // Get the button
    const mybutton = document.getElementById("btn-back-to-top");
  
    // When the user scrolls down 20px from the top of the document, show the button
  
    const scrollFunction = () => {
      if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
      ) {
        mybutton.classList.remove("hidden");
      } else {
        mybutton.classList.add("hidden");
      }
    };
    const backToTop = () => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    };
  
    // When the user clicks on the button, scroll to the top of the document
    mybutton.addEventListener("click", backToTop);
  
    window.addEventListener("scroll", scrollFunction);
  </script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KDFEH89LFL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KDFEH89LFL');
</script>
    
</head>

<body>
  <header>
    
    <nav class="bg-black">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <a href="#" class="text-white text-2xl font-bold"><img  src="{% static 'img/label.png' %}" alt="My image" style="max-width:200px;"></a>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
              <a href="./" class="text-gray-300 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Направления</a>
              <a href="#feedback" class="text-gray-300 hover:text-green block px-3 py-2 rounded-md text-base font-medium">Отзывы</a>
              <a href="#price" class="text-gray-300 hover:text-green block px-3 py-2 rounded-md text-base font-medium">Цены</a>
              <a href="#contact" class="text-gray-300 hover:text-green block px-3 py-2 rounded-md text-base font-medium">Контакты</a>
              </div>
            </div>
          </div>
          <div class="-mr-2 flex md:hidden">
            <button type="button" class="bg-black inline-flex items-center justify-center p-2 rounded-md text-white hover:text-white" aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <!-- Icon when menu is closed. -->
              <!-- Menu open: "hidden", Menu closed: "block" -->
              <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
              <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
              </button>
              </div>
              </div>
              </div>
              <!-- Mobile menu, toggle classes based on menu state. -->
              <div class="md:hidden" id="mobile-menu">
              <div class="px-0 pt-2 pb-3 space-y-1 sm:px-3">
              <a href="./" class="text-gray-300 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Направления</a>
              <a href="#feedback" class="text-gray-300 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Отзывы</a>
              <a href="#price" class="text-gray-300 hover:text-green block px-3 py-2 rounded-md text-base font-medium">Цены</a>
              <a href="#contact" class="text-gray-300 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Контакты</a>
              </div>
              </div>
              </nav>
              <script>
              const button = document.querySelector('button[aria-controls="mobile-menu"]');
              const menu = document.getElementById('mobile-menu');
              button.addEventListener('click', () => {
              const expanded = button.getAttribute('aria-expanded') === 'true' || false;
              button.setAttribute('aria-expanded', !expanded);
              menu.classList.toggle('hidden');
              });
              </script>
  
    

    
  </header>
  <main>
{% block content%}
{% endblock %}
  </main>
  <footer>
    <!-- place footer here -->
    <button type="button" data-te-ripple-init="" data-te-ripple-color="light" class="!fixed bottom-5 right-5 rounded-full bg-green-600 p-3 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg" id="btn-back-to-top" style="">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" class="h-4 w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor" d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"></path>
      </svg>
    </button>
  </footer>

</body>

</html>