{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

  {% comment %} <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Записаться</button>
  </form> {% endcomment %}

 

  


  <section class="text-white bg-black py-20">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-3/4 lg:pr-12 mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Научитесь создавать свои собственные игры' }}</h2>
          <p class="text-lg mb-8">{{ 'Наша программа обучает детей программированию и разработке своих собственных игр с нуля. Мы охватываем все от проектирования персонажей до написания кода, необходимого для создания игры, на которую они могут гордиться' }}</p>
          <a href="#" class="bg-green hover:bg-white text-black hover:text-black font-bold py-3 px-8 rounded-full">{{ 'Получить информацию' }}</a>
        </div>
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/main.png' %}" alt="My image" style="max-width:100%;">
        </div>
      </div>
    </div>
  </section>
  


  <section class="text-white bg-black py-20">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-3/4 lg:pr-12 mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Создайте свой собственный сайт' }}</h2>
          <p class="text-lg mb-8">{{ 'Наша программа обучает детей программированию и разработке своих собственных игр с нуля. Мы охватываем все от проектирования персонажей до написания кода, необходимого для создания игры, на которую они могут гордиться' }}</p>
          <a href="#" class="bg-green hover:bg-white text-black hover:text-black font-bold py-3 px-8 rounded-full">{{ 'Получить информацию' }}</a>
        </div>
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/web.png' %}" alt="My image">
        </div>
      </div>
    </div>
  </section>

  <section class="text-white bg-black py-20">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-3/4 lg:pr-12 mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Создайте свои собственные приложения' }}</h2>
          <p class="text-lg mb-8">{{ 'Наша программа обучает детей программированию и разработке своих собственных игр с нуля. Мы охватываем все от проектирования персонажей до написания кода, необходимого для создания игры, на которую они могут гордиться' }}</p>
          <a href="#" class="bg-green hover:bg-white text-black hover:text-black font-bold py-3 px-8 rounded-full">{{ 'Получить информацию' }}</a>
        </div>
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/desktop.png' %}" alt="My image">
        </div>
      </div>
    </div>
  </section>

  <section class="text-white bg-black py-20">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-3/4 lg:pr-12 mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Изучите мир робототехники' }}</h2>
          <p class="text-lg mb-8">{{ 'Наша программа обучает детей программированию и разработке своих собственных игр с нуля. Мы охватываем все от проектирования персонажей до написания кода, необходимого для создания игры, на которую они могут гордиться' }}</p>
          <a href="#" class="bg-green hover:bg-white text-black hover:text-black font-bold py-3 px-8 rounded-full">{{ 'Получить информацию' }}</a>
        </div>
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/robot.png' %}" alt="My image">
        </div>
      </div>
    </div>
  </section>

  <section class="text-white bg-black py-20">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-3/4 lg:pr-12 mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Узнайте, как устроены машинное обучение и нейронные сети' }}</h2>
          <p class="text-lg mb-8">{{ 'Наша программа обучает детей программированию и разработке своих собственных игр с нуля. Мы охватываем все от проектирования персонажей до написания кода, необходимого для создания игры, на которую они могут гордиться' }}</p>
          <a href="#" class="bg-green hover:bg-white text-black hover:text-black font-bold py-3 px-8 rounded-full">{{ 'Получить информацию' }}</a>
        </div>
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/AI.png' %}" alt="My image">
        </div>
      </div>
    </div>
  </section>

  <section class="text-white bg-black py-20">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-3/4 lg:pr-12 mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Изучайте аналитику данных ' }}</h2>
          <p class="text-lg mb-8">{{ 'Наша программа обучает детей программированию и разработке своих собственных игр с нуля. Мы охватываем все от проектирования персонажей до написания кода, необходимого для создания игры, на которую они могут гордиться' }}</p>
          <a href="#" class="bg-green hover:bg-white text-black hover:text-black font-bold py-3 px-8 rounded-full">{{ 'Получить информацию' }}</a>
        </div>
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/AI.png' %}" alt="My image">
        </div>
      </div>
    </div>
  </section>

  <section class="text-white bg-black py-20">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-3/4 lg:pr-12 mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'создавайте 3D-модели' }}</h2>
          <p class="text-lg mb-8">{{ 'Наша программа обучает детей программированию и разработке своих собственных игр с нуля. Мы охватываем все от проектирования персонажей до написания кода, необходимого для создания игры, на которую они могут гордиться' }}</p>
          <a href="#" class="bg-green hover:bg-white text-black hover:text-black font-bold py-3 px-8 rounded-full">{{ 'Получить информацию' }}</a>
        </div>
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/3D.png' %}" alt="My image">
        </div>
      </div>
    </div>
  </section>


  <section class="text-white bg-black py-20" id="feedback">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-3/4 lg:pr-12 mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Отзывы учеников и родителей' }}</h2>
          <p class="text-lg mb-8">{{ 'Наша программа обучает детей программированию и разработке своих собственных игр с нуля. Мы охватываем все от проектирования персонажей до написания кода, необходимого для создания игры, на которую они могут гордиться' }}</p>
          <a href="#" class="bg-green hover:bg-white text-black hover:text-black font-bold py-3 px-8 rounded-full">{{ 'Получить информацию' }}</a>
        </div>
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/main.png' %}" alt="My image">
        </div>
      </div>
    </div>
  </section>

  <section class="text-white bg-black py-20" id="price">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-3/4 lg:pr-12 mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Цены на различные направления обучения' }}</h2>
          <p class="text-lg mb-8">{{ 'Наша программа обучает детей программированию и разработке своих собственных игр с нуля. Мы охватываем все от проектирования персонажей до написания кода, необходимого для создания игры, на которую они могут гордиться' }}</p>
          <a href="#" class="bg-green hover:bg-white text-black hover:text-black font-bold py-3 px-8 rounded-full">{{ 'Получить информацию' }}</a>
        </div>
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/main.png' %}" alt="My image">
        </div>
      </div>
    </div>
  </section>


  <section class="text-white bg-black py-20" id="input">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center justify-center bg-black text-white">
        <div class="w-full lg:w-1/2">
          <h2 class="text-2xl font-bold mb-4">Contact Us</h2>
          <form method="post" class="bg-black text-white p-6 rounded-lg">
            {% csrf_token %}
            {{ form|crispy }}
            <button style="background-color:#01fe6d;" type="submit" class="bg-green hover:bg-white text-black hover:text-black font-bold py-3 px-8 rounded-full">
              Submit
            </button>
          </form>
        </div>
        <div class="w-full lg:w-1/2">
          <h2 class="text-3xl font-bold mb-4">Свяжитесь с нами</h2>
          <p class="mb-4">Если у вас есть какие-либо вопросы о нашей программе или вы хотите зарегистрироваться, пожалуйста, свяжитесь с нами. Мы всегда готовы помочь и ответить на ваши вопросы.</p>
          <p class="mb-4">Номер телефона: +7 (495) 123-45-67</p>
          <p class="mb-4">E-mail: info@example.com</p>
          <p>Адрес: г. Москва, ул. Примерная, д. 123, оф. 456</p>
        </div>
      </div>
    </div>
  </section>




  

  
  
  
  
  
{% endblock %}
