{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

  {% comment %} <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Записаться</button>
  </form> {% endcomment %}

 

  


  <section class="text-white bg-black">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-1/2 lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/games.png' %}" alt="My image" style="max-width:100%;" class="w-0 md:w-24 lg:w-32">
        </div>
        <div class="w-full lg:w-3/4 lg:pr-12 lg:mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Научитесь создавать свои собственные игры' }}</h2>
          <div class="text-lg mb-8">{{ 'Наша программа обучает детей программированию и разработке своих собственных игр с нуля. Мы охватываем все от проектирования персонажей до написания кода, необходимого для создания игры. С самыми юными программистами занимаемся на Scratch и Kodu Game Lab, c более опытными на Unity' }}</div>
          <a href="./#contact" class="bg-green hover:bg-white text-black hover:text-black font-bold py-3 px-8 rounded-full">{{ 'Записаться' }}</a>
        </div>
      </div>
    </div>
  </section>
  


  <section class="text-white bg-black pt-8">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-3/4 lg:pr-12 lg:mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Создайте личный сайт' }}</h2>
          <div class="text-lg lg:mb-8">{{ 'Обучим верстке сайта на HTML и CSS, также будем изучать JavaScript для создания Frontend, и Python вместе с PHP для разработки серверной части сайта. Предусмотрена работа с движками для создания сайта, такими как Wordpress' }}</div>
         </div>
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/web.png' %}" alt="My image" class="w-0 md:w-24 lg:w-32">
        </div>
      </div>
    </div>
  </section>

  <section class="text-white bg-black">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/desktop.png' %}" alt="My image" class="w-0 md:w-24 lg:w-32">
        </div>
        <div class="w-full lg:w-3/4 lg:pr-12 lg:mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Разработайте приложения для компьютера' }}</h2>
          <div class="text-lg lg:mb-8">{{ 'Научим создавать кросплатформенные приложения, а также приложения для Windows ' }}</div>
         </div>
      </div>
    </div>
  </section>

  <section class="text-white bg-black">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-3/4 lg:pr-12 lg:mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Изучите мир робототехники' }}</h2>
          <div class="text-lg lg:mb-8">{{ 'Окунитесь в мир робототехники! Создайте и запрограммируйте своего робота!' }}</div>
           </div>
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/robot.png' %}" alt="My image" class="w-0 md:w-24 lg:w-32">
        </div>
      </div>
    </div>
  </section>

  <section class="text-white bg-black">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/AI.png' %}" alt="My image" class="w-0 md:w-24 lg:w-32">
        </div>
        <div class="w-full lg:w-3/4 lg:pr-12 lg:mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Узнайте, как устроены машинное обучение и нейронные сети' }}</h2>
          <div class="text-lg lg:mb-8">{{ 'Курс для самых опытных учеников, которые прошли предварительную подготовку. Изучим основные алгоритмы машинного обучения и обучим нейросеть под индивидуально выбранную задачу!' }}</div>
          </div>
      </div>
    </div>
  </section>

  <section class="text-white bg-black">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-3/4 lg:pr-12 lg:mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Изучайте аналитику данных ' }}</h2>
          <div class="text-lg lg:mb-8">{{ 'Для тех, кто прошел базовый курс по Python. Будем работать с большими массивами данных для решения бизнес задач!' }}</div>
           </div>
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/AI.png' %}" alt="My image" class="w-0 md:w-24 lg:w-32">
        </div>
      </div>
    </div>
  </section>

  <section class="text-white bg-black">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/3D.png' %}" alt="My image" class="w-0 md:w-24 lg:w-32">
        </div>
        <div class="w-full lg:w-3/4 lg:pr-12 lg:mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Создавайте 3D-модели!' }}</h2>
          <div class="text-lg lg:mb-8">{{ 'Курс по работе в программе Blender, где мы научимся делать 3D модели, которые затем будем анимировать и украшать текстурами и шейдерами' }}</div>
          </div>
      </div>
    </div>
  </section>

  <section class="text-white bg-black">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-3/4 lg:pr-12 lg:mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'О преподавателе' }}</h2>
          <div class="text-lg lg:mb-8">{{ 'Занятия ведет педагог с десятилетним стажем Фахретдинов Наиль Ринатович.             Образование высшее по специальности информатика, постоянно в процессе обучения новым знаниям, в 2022 году получил Диплом МГТУ им. Баумана по Аналитике Данных на языке программирования Python. С учениками удается регулярно занимать призовые места по программированию и робототехнике.' }}</div>
          </div>
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/teacher/1.jpeg' %}" alt="My image" class="w-0 md:w-24 lg:w-32">
        </div>
      </div>
    </div>
  </section>

  <section class="text-white bg-black lg:pb-6" id="feedback">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/main.png' %}" alt="My image" class="w-0 md:w-24 lg:w-32">
        </div>
        <div class="w-full lg:w-3/4 lg:pr-12 lg:mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Отзывы учеников и родителей' }}</h2>
          <div class="text-lg lg:mb-8">{{ 'Ознакомьтесь с большим количеством положительных отзывов о нашей школе программирования!' }}</div>
           </div>
      </div>
    </div>



    
  </section>
 



   
  <div class="carousel-container w-full relative">
    <div class="carousel">
        <div class="carousel-slide">
            <img src="{% static 'img/feedback/2.png' %}" alt="Image 1" class="w-full">
        </div>
        <div class="carousel-slide">
            <img src="{% static 'img/feedback/3.png' %}" alt="Image 2" class="w-full">
        </div>
        <div class="carousel-slide">
            <img src="{% static 'img/feedback/4.png' %}" alt="Image 3" class="w-full">
        </div>
        <div class="carousel-slide">
            <img src="{% static 'img/feedback/5.png' %}" alt="Image 4" class="w-full">
        </div>
        <div class="carousel-slide">
            <img src="{% static 'img/feedback/6.png' %}" alt="Image 5" class="w-full">
        </div>
        <div class="carousel-slide">
            <img src="{% static 'img/feedback/7.png' %}" alt="Image 6" class="w-full">
        </div>
        <div class="carousel-slide">
            <img src="{% static 'img/feedback/8.png' %}" alt="Image 7" class="w-full">
        </div>
    </div>
    <div class="carousel-arrow carousel-arrow-left">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-8 h-8">
            <path d="M15 18l-6-6 6-6" />
        </svg>
    </div>
    <div class="carousel-arrow carousel-arrow-right">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-8 h-8">
            <path d="M9 18l6-6-6-6" />
        </svg>
    </div>
</div>




  <section class="text-white bg-black py-10" id="price">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-1/4 px-8 pr-8 pt-8">
          <img  src="{% static 'img/header.png' %}" alt="My image" class="w-0 md:w-24 lg:w-32">
        </div>
        <div class="w-full lg:w-3/4 lg:pr-12 mb-8 px-3">
          <h2 class="text-4xl font-bold mb-6 text-green">{{ 'Цены на различные направления обучения' }}</h2>
          <div class="text-lg mb-8">{{ 'Стоимость групповых занятий 3000 рублей в месяц. Индивидуальные по 750 рублей за урок, количество уроков по договоренности.' }}</div>
          <a href="./#contact" class="bg-green hover:bg-white text-black hover:text-black font-bold py-3 px-8 rounded-full ">{{ 'Записаться' }}</a>
        </div>
      </div>
    </div>
  </section>


  <section class="text-white bg-black py-10" id="contact" >
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center justify-center bg-black text-white">
        <div class="w-full lg:w-1/2">
        <div class="contact">
          <h2 class="text-2xl font-bold mb-4 text-center">Данные для связи</h2>
          <form method="post" class="bg-black text-white p-6 rounded-lg" >
            {% csrf_token %}
            {{ form|crispy }}
            <button onclick="zayavka()" style="background-color:#01fe6d;" type="submit" class="bg-green hover:bg-white text-black hover:text-black font-bold py-3 px-8 rounded-full">
              Записаться
            </button>
          </form>
        </div>
        </div>
        <div class="w-full lg:w-1/2">
          <h2 class="text-3xl font-bold mb-4 text-center">Свяжитесь с нами</h2>
          <div class="mb-4">Если у вас есть какие-либо вопросы о нашей программе, пожалуйста, свяжитесь с нами. Мы всегда готовы помочь и ответить на ваши вопросы. Можно написать в Telegram, WhatsApp, Viber по этому номеру телефона</div>
          <div class="mb-4">Номер телефона: <b><a class="text-green" href="tel:+79527922316">+79527922316</a></b></div>
          <div>Адрес: г. Калининград, ул. Тенистая аллея, д. 34, оф. 4</div>
        </div>
      </div>
    </div>
  </section>

  <script>
    const carousel = document.querySelector('.carousel');
    const slides = document.querySelectorAll('.carousel-slide');
    const leftArrow = document.querySelector('.carousel-arrow-left');
    const rightArrow = document.querySelector('.carousel-arrow-right');
    let currentIndex = 0;

    leftArrow.addEventListener('click', () => {
        currentIndex = (currentIndex - 1 + slides.length) % slides.length;
        updateCarousel();
    });

    rightArrow.addEventListener('click', () => {
        currentIndex = (currentIndex + 1) % slides.length;
        updateCarousel();
    });

    function updateCarousel() {
        const translateX = -currentIndex * 100;
        carousel.style.transform = `translateX(${translateX}%)`;
    }
    function zayavka(){
      if (document.querySelector("#id_Телефон").value.length == 12 || document.querySelector("#id_Телефон").value.length == 11){
        alert("Мы позвоним вам по телефону " + document.querySelector("#id_Телефон").value + " в ближайшее время" )
        document.querySelector(".contact").innerHTML = "Ваша заявка успешно принята! "
        
      }
      else {
        alert("Пожайлуйста, проверьте правильно ли введен телефон. Если ошибки нет, попробуйте записаться по телефону, а не через форму на сайте")
      }
    }
</script>



  

  
  
  
  
  
{% endblock %}
